
.navbar{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 'Source Sans Pro', sans-serif;
    font-style: normal;
}
.pizza{
    height: 41rem;
    width: 100%;
    /* top: 100px; */
}
.top-left {
    position: absolute;
width: 860px;
height: 215px;
left: 15px;
top: 80px;

font-family: 'Quattrocento';
font-style: normal;
font-weight: 300;
font-size: 101px;
line-height: 108px;
/* or 107% */

text-align: center;
letter-spacing: 0.09em;

color: #FFFFFF;
  }
  .bottom-left{
    position: absolute;
width: 599px;
height: 325px;
left: 116px;
top: 413px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
/* or 160% */

letter-spacing: 0.09em;

color: #FFFFFF;
  }
  .box1{
    box-sizing: border-box;

position: absolute;
width: 586px;
height: 13px;
left: 116px;
top: 333px;

background: #F24C4C;
box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
  }
  .aboutus{
    margin-top: 80px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;
/* or 0% */

display: flex;
justify-content: center;
align-items: center;
text-align: center;

color: #FFFFFF;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .container1{
    align-items: center;
    margin-top: 100px;
    margin-left: -400px;
position: absolute;
width: 400px;
height: 290px;
text-align: justify;
text-justify: inter-word;
font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 30px;
letter-spacing: 0.09em;
color: #FFFFFF;
  }
  .box_2{
      
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}
/* box-sizing: border-box; */
.box2{
    position: absolutes;
    width: 526px;
    height: 10px;
    background: #B62828;
  }
.dough{
    margin-top: 69px;
    margin-left: 530px;
        /* position: absolute; */
        box-sizing: border-box;
        float: right;
    width: 350px;
    height: 290px;
    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
  }
  .menu{
        display: flex;
        justify-content: center;
        height: 52px;
        margin-top: 75px;
        margin-bottom: 10px;
        font-family: 'Quattrocento';
        font-style: normal;
        font-weight: 10;
        font-size: 50px;
        line-height: 0px;
        align-items: center;
        text-align: center;
    
        color: #FFFFFF;
  }
  .box_3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  .box3{
      position: absolute;
    display: flex;
    justify-content: center;
width: 474px;
height: 9px;
/* left: 512px;
top: 1370px; */

background: #B62828;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .container6{
      display: flex;
      justify-content: center;
  }
  .para_menu{
    margin-top: 30px;
width: 931px;
height: 178px;
font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 40px;
letter-spacing: 0.09em;
color: #ffffff;
  }
  .container8{
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  .container7 {
    display: flex;
    color: #FFFFFF;
  }
  
  .colum {
    flex-direction: column;
    margin-left: 30px;
    flex: 1;
  }
  
  .colum div {
    width: 185px;
    background-color: transparent;
    font-size: 1.2rem;
    /* padding: 5px 0; */
  }
  
  .card {
    margin-left: 10px
  }
  
  .image {
    
    flex: 1;
    margin-right: 10px;
  }
  
  .image pimg {
    display: block;
    padding: 5px;
  }
  .findus{
    position: absolute;
width: 474px;
height: 52px;

font-family: 'Quattrocento';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 0px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
  }
  .call{
    display: flex;
  }
  .call p{
    margin-left: 25px;
  }
  .vector{
    height: 130px;
    margin: 60px;
  }
  .foot{
    display: flex;
    justify-content: space-between;
  }
  .mail{
    float:right;
    color: white;
  }
  .foot p{
    color: white;
    margin-left: 25px;
  }